<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rentr">
        <activity
            android:name=".view.VerifyKYC"
            android:exported="true"
            android:label="@string/title_activity_verify_kyc"
            android:theme="@style/Theme.Rentr">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.UpdateAdmjinProfile"
            android:exported="true"
            android:label="@string/title_activity_update_admjin_profile"
            android:theme="@style/Theme.Rentr">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AdminSettings"
            android:exported="true"
            android:label="@string/title_activity_admin_settings"
            android:theme="@style/Theme.Rentr">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewmodel.AdminDDashboardActivity"
            android:exported="true"
            android:label="@string/title_activity_admin_ddashboard"
            android:theme="@style/Theme.Rentr">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Launcher Activity -->
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Rentr">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other Activities -->
        <activity
            android:name=".view.ChangePassActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.KYC"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.CategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.EditListedActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.EditProfile"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.FaqScreenActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.FillProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.ForgotPassGmailActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.ForgotPassNewPassActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.ForgotPassOTPActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.ListImageActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.NewListingActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.PrivacyPolicyActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.ProductActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.RegistrationActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
        <activity
            android:name=".view.TermsActivity"
            android:exported="false"
            android:theme="@style/Theme.Rentr" />
    </application>

</manifest>